
/* Font Family*/
$Futura:'Futura-Normal', arial;
/* Font Weight*/
$Regular: 'font-weight: 400';
$Light: 'font-weight: 300';
$Black-Italic: 'font-weight:900', italic;

/* Font Size*/
$xx-l: 70px; /*4.375*/
$x-l: 30px; /*1.875*/
$l: 18px;/*1.125*/
$m: 16px;/*1rem*/
$s: 12px;/*0.75rem*/

/* Color*/
$black: #000000;
$white: #fff;
