.foto-header{
    background-image: url(../img/image-banner.png);
    width: 100vw;
    height: 20vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 80%;
    margin-top: 70px;
}