.iconos-navbar{
    
    color: black !important;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
    color: black;
}

.navbar-subtitle{
    position: relative;
    font-size: $s;
}

@media (min-width: 768px) { 
    .menu__navbar{
        padding: 0.8rem 5rem;
    }
    .menu__navbar-iconos li{
        margin: auto 6px;
    }
 }